body {
    font-family: Arial, sans-serif;
    background-color: /*#a7efdf*/white;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }


  h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    white-space: nowrap;
  }

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .icon {
    display: inline-block;
    font-size: 100px;
    color: red;
    margin-bottom: 20px;
    animation: blink 1s infinite;
  }

  .er{
    font-size: 50px;
  }

  .ta{
    font-size: 30px;
  }

  p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    /*background: linear-gradient(#00f260,#0575e6)*/
    background-color: #32904f;
    color: #f9eded;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: #555;
  }